.form {
  width: 90%;
  max-width: 30rem;
  margin: auto;
  margin-top: 4rem;
}

.form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form form input {
  width: 10rem;
  margin-bottom: 0.5rem;
}
