.form {
  width: 90%;
  max-width: 30rem;
  margin: auto;
  margin-top: 4rem;
  animation: openForm 300ms ease-in-out;
}

.form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-top: 1rem;
}

.form form input {
  width: 10rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.form-close {
  animation: closeForm 300ms ease-in-out;
}

@keyframes openForm {
  from {
    transform: translateY(-20rem);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes closeForm {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-20rem);
  }
}
