.store {
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  margin-top: 2rem;
  margin: 1rem auto 2rem auto;
}

.store__header {
  display: flex;
  align-items: center;
  width: 100%;
}

.title {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;
}

.store__title {
  margin-bottom: 0.5rem;
}

.arrow-open {
  animation: openArrow 300ms ease-in-out forwards;
}

.arrow-close {
  animation: closeArrow 300ms ease-in-out;
}

@keyframes openArrow {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(90deg);
  }
}

@keyframes closeArrow {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(0);
  }
}
